@import "tailwindcss";

:root {
  font-family: 'Quicksand', sans-serif;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme-classes{
  background-color: #121212 ;
  color: white;
}